body{
    background-color: #2d2f36;
    color:white;
    font-family: 'Courier New', Courier, monospace;
    width: 99vw;
    height: 97vh;
}
.Holder{
    display:flex;
    color: #fdca7f;
}
p{
    font-weight: 700;
    display: block;
}

.card-holder{
    background-color:black;
    margin:1%;
    padding:1%;
}
input{
    /* margin-left:1.2rem;
    position: relative; */
    display: block;
}


