body{
    background-color: #2d2f36;
    color:white;
    font-family: 'Courier New', Courier, monospace;
    width: 99vw;
    height: 97vh;
}
#Save{
    margin-left: 0.1rem;
    margin-top: 0.4rem;
}
.Holder{
    display:flex;
    color: #fdca7f;
}
p{
    font-weight: 700;
    display: block;
}

.card-holder{
    background-color:black;
    margin:1%;
    padding:1%;
}
input{
    display: block;
}


